BOT_TOKEN=7768022070:AAH5K-SH3noqyCQ2rk-tdW3spnRqz0wYCgo
OPENAI_KEY=sk-aitunnel-6qwJiTsoz7uJJy9HabUiYVX6MHr2g67D

DB_HOST=ep-long-waterfall-ab1f3dp5-pooler.eu-west-2.aws.neon.tech
DB_PORT=5432
DB_USER=neondb_owner
DB_PASS=npg_JOKjlIN8hg3p
DB_NAME=lango-db
DB_SSLMODE=require

RABBITMQ_USER=bot
RABBITMQ_PASS=botpass
